.grid {
  display: block;
  column-count: 5;
  align-self: center;
  align-content: flex-start;
  justify-items: center;
  align-items: flex-start;
  grid-auto-columns: 500px;
  font-family: "Helvetica", sans-serif;

  column-gap: 80px;
  padding: 10px 20px 10px 20px;
}
.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.button {
  padding: 15px 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
